<div class="main_title">
  <h1 class="logo"> J-Radio </h1>
</div>

<div class="front_page_button">
  <button type="button"> Create Disco </button> <br>
  <button type="button" > Join Disco </button>
</div>