$TITLE_COLOR: #0B4374;
$BLUE: #0166C0;
$BODY: #EEEFF0;
$HIGHLIGHTS: #F1CC0A;
$FOR_TEXT: #9B6A0B;


body {
  background-color: $BODY;
}
h1 {
  color: $TITLE_COLOR;
}

.main_title {

  .front_page_button {
  }
}

